<li>
	{{name}}

	<button class="change-has-read" data-id="{{id}}" data-newHasRead="{{hasRead}}">
		{{#if hasRead}}READ IT!{{else}}I TOTALLY FORGOT HOW THAT BOOK ENDED...{{/if}}
	</button>

	<button class="delete-book" data-id="{{this.id}}">DELETE!</button>
</li>
